{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Create a bank account today!</h1>
        <form method="POST">
          {{ form.hidden_tag()}}
          {{ form.name.label }}{{ form.name() }} <span id="name-checker"></span><br/>
          {{ form.balance.label }}{{ form.balance() }} <br/>
          {{ form.password.label }}{{ form.password() }} <br/>
          {{ form.pwd_confirm.label }}{{ form.pwd_confirm() }} <br/>
          {{ form.submit() }}
        </form>
    </div>
    <script>
      let name = document.getElementById('name');
      let checker = document.getElementById('name-checker');

      name.onkeyup = function(){
        if (name.value == '') {
          checker.innerHTML = '';
        } else{
          fetch('/json/account/' + name.value).then(function(response){
            response.json().then(function(data){

              checker.innerHTML = data.name;
              if (data.name == 'available'){
                checker.style.color = 'green';
              } else{
                checker.style.color = 'red';
              }
            });
          });
        }
      }

    </script>
{% endblock %}
