{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Create a bank account today!</h1>
        <div style="max-width: 450px;">
          <form method="POST">
            {{ form.hidden_tag()}}
            <div class="form-group" style="max-width: 450px;">
              <strong>
                {{ form.name.label }}
              </strong>
              {{ form.name(class="form-control", style="width: 300px;") }} <span id="name-checker" style="float: left;"></span>
            </div>
            <div class="form-group" style="clear: both; max-width: 300px;">
              <strong>
                {{ form.balance.label }}
              </strong>
              {{ form.balance(class="form-control") }}
            </div>
            <div class="form-group" style="max-width: 300px;">
              <strong>
                {{ form.password.label }}
              </strong>
              {{ form.password(class="form-control") }}
            </div>
            <div class="form-group" style="max-width: 300px;">
              <strong>
                {{ form.pwd_confirm.label }}
              </strong>
              {{ form.pwd_confirm(class="form-control") }}
            </div>
            {{ form.submit(disabled=True, class="btn btn-success") }}
          </form>
        </div>
    </div>
    <script>
      let name = document.getElementById('name');
      let checker = document.getElementById('name-checker');
      let submit = document.getElementById('submit');
      document.onload = function(){
        submit.disabled = true;
      };

      name.onkeyup = function(){
        if (name.value == '') {
          checker.innerHTML = '';
          submit.disabled = true;
        } else{
          fetch('/json/account/name/' + name.value).then(function(response){
            response.json().then(function(data){

              checker.innerHTML = data.name;
              if (data.name == 'available'){
                checker.style.color = 'green';
                submit.disabled = false;
              } else{
                checker.style.color = 'red';
                submit.disabled = true;
              }
            });
          });
        }
      }

    </script>
{% endblock %}
