{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      {% if session['username'] %}

        <h1>Welcome to your bank account!</h1>
        <br/>
        <h2>Your Account ID {{ account.id }} has a balance of $ {{ account.balance }}</h2>
        <hr>
        <h3>Deposit Money</h3>
        <form method="POST">
          {{ deposit_form.hidden_tag()}}
          {{ deposit_form.amount.label }}{{ deposit_form.amount() }}
          {{ deposit_form.deposit() }}
        </form>
        <h3>Withdraw Money</h3>
        <form method="POST">
          {{ withdraw_form.hidden_tag()}}
          {{ withdraw_form.amount.label }}{{ withdraw_form.amount() }}
          {{ withdraw_form.withdraw() }}
        </form>
        <h3>Transfer Money</h3>
        <form method="POST">
          {{ transfer_form.hidden_tag()}}
          {{ transfer_form.account_id.label }}{{ transfer_form.account_id() }} <span id="id-checker"></span><br/>
          {{ transfer_form.amount.label }}{{ transfer_form.amount() }}<br/>
          {{ transfer_form.password.label }}{{ transfer_form.password() }}<br/>
          {{ transfer_form.transfer() }}
        </form>
        <hr>
        <h2>Your transactions</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col">DateTime</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <th scope="row">{{ transaction.id }}</th>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ transaction.description }}</td>
              <td>${{ transaction.amount }}</td>
              <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
        <h1>Please log in!</h1>
      {% endif %}
    </div>
    <script>
      let account_id = document.getElementById('account_id');
      let checker = document.getElementById('id-checker');
      let transfer = document.getElementById('transfer');
      document.onload = function(){
        transfer.disabled = true;
      };

      account_id.onkeyup = function(){
        if (account_id.value == '') {
          checker.innerHTML = '';
          transfer.disabled = true;
        } else{
          fetch('/json/account/id/' + account_id.value).then(function(response){
            response.json().then(function(data){

              checker.innerHTML = data.account;
              if (data.account == 'valid account ID'){
                checker.style.color = 'green';
                transfer.disabled = false;
              } else{
                checker.style.color = 'red';
                transfer.disabled = true;
              }
            });
          });
        }
      }

    </script>
{% endblock %}
