{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      {% if session['username'] %}

        <h1>Welcome to your bank account!</h1>
        <br/>
        <h2>Your Account ID {{ account.id }} has a balance of $ {{ account.balance }}</h2>
        <hr>
        <h3>Deposit Money</h3>
        <form method="POST">
          {{ deposit_form.hidden_tag()}}
          {{ deposit_form.amount.label }}{{ deposit_form.amount() }}
          {{ deposit_form.submit() }}
        </form>
        <h3>Withdraw Money</h3>
        <form method="POST">
          {{ withdraw_form.hidden_tag()}}
          {{ withdraw_form.amount.label }}{{ withdraw_form.amount() }}
          {{ withdraw_form.submit() }}
        </form>
        <h3>Transfer Money</h3>
        <form method="POST">
          {{ transfer_form.hidden_tag()}}
          {{ transfer_form.account_id.label }}{{ transfer_form.account_id() }}<br/>
          {{ transfer_form.amount.label }}{{ transfer_form.amount() }}<br/>
          {{ transfer_form.password.label }}{{ transfer_form.password() }}<br/>
          {{ transfer_form.submit() }}
        </form>
        <hr>
        <h2>Your transactions</h2>
        <ul>
          {% for transaction in transactions %}
            <li>{{transaction}}</li>
          {% endfor %}
        </ul>

      {% else %}
        <h1>Please log in!</h1>
      {% endif %}
    </div>
{% endblock %}
